<h1>Stupid Coaching</h1>


<div class="bd-callout bd-callout-info" role="alert">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>


<div class="bd-callout bd-callout-info alert alert-warning" role="alert" >
<p><strong><%=@answer%></strong></p>
<p><em>- Your Coach</em></p>
</div>
<a href="/ask">Ask a new question</a>
